<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="back2" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.juanan.photoManagement.data.entity.Device</class>
		<class>com.juanan.photoManagement.data.entity.MetadataType</class>
		<class>com.juanan.photoManagement.data.entity.Photo</class>
		<class>com.juanan.photoManagement.data.entity.PhotoMetadata</class>
		<class>com.juanan.photoManagement.data.entity.User</class>		
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" /> 
 			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.format_sql" value="true" />
			<property name="hibernate.use_sql_comments" value="false" />
			<property name="hibernate.connection.autocommit" value="false" />
			<!--  para deshabilitar la cache poner a false estos tres parametros -->
			<property name="hibernate.cache.use_second_level_cache" value="false" />
			<property name="hibernate.cache.use_query_cache" value="false" />
			<property name="hibernate.cache.use_structured_entries" value="false" />
			<!--  ehcache -->
			<property name="hibernate.cache.provider_class" value="org.hibernate.cache.EhCacheProvider" />
			<property name="hibernate.cache.provider_configuration" value="ehcache.xml" />
			<property name="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.EhCacheRegionFactory" />
			
			<!--useful for debugging-->
			<property name="hibernate.generate_statistics" value="false" />
		</properties>
	</persistence-unit>
</persistence>
